*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    --res: calc(0.01 * 10vmin);
    height: 100%;
}

html,
body {
    margin: 0;
    padding: 0;
    
}

body {
    background: #2b2f77;
    background: -webkit-linear-gradient(360deg, #2b2f77 0%, #141852 50%, #070b34 100%);
    background: linear-gradient(360deg, #2b2f77 0%, #141852 50%, #070b34 100%);
}

@media screen and (max-width: 768px) {
    #logo {
        width: 90px;
    }
}

.menu a {
    font-family: 'poppins';
    text-decoration: none;
    font-size: large;
    margin-right: 10px;
}

.menu {
    width: 100%;
    z-index: 20;
    border-bottom: 1px solid white;
    background: #1418527a;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    align-items: center;
}

#logo {
    max-width: 120px;
    height: auto;
    margin: auto;
}

.menuMob {
    margin-right: 10px;

}


.absences-nav:after {
    display: block;
    content: '';
    border-bottom: 2px solid #FFCD39;
}

.absences-nav:hover:after {
    transform: scaleX(1);
}

/*Anim border-bottom autres onglets*/
.accueil-nav:after,
.moncompte-nav:after,
.notes-nav:after {
    display: block;
    content: '';
    border-bottom: 2px solid #FFCD39;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

.accueil-nav:hover:after,
.moncompte-nav:hover:after,
.notes-nav:hover:after {
    transform: scaleX(1);
}

.card-all {
    background: rgba(255, 255, 255, 0.144);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 20px;
    color: white;
}

.card-title {
    font-size: 68px;
    color: #ffffff;
    text-shadow: 0 0 10px #FFFFFF;
    font-weight: bold;
    font-family: Viga, sans-serif;
}

.absence {
  font-family: Poppins, sans-serif;
  padding: 10px;
  margin: 0 auto;
}

.scrollableAbsences{
    max-height: calc(100vh - 195px);
    overflow-y: auto;
}

.absencesTotal{
    max-height: calc(100vh - 195px); /* ajustez la valeur selon vos besoins */
    overflow-y: auto;
}

.absence h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.absence-motif {
    font-weight: bold;
    margin-right: 10px;
}

.absence-date {
    color: #999;
}

.total-absences {
    font-family: 'poppins';
}


table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    text-align: center;
    padding: 8px;
    border: 1px solid black;
}
th {
    background-color: #FFCD39;
}

.background {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: -1;
}