*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #2b2f77;
    background: -webkit-linear-gradient(360deg, #2b2f77 0%, #141852 50%, #070b34 100%);
    background: linear-gradient(360deg, #2b2f77 0%, #141852 50%, #070b34 100%);
}


html {
    --res: calc(0.01 * 10vmin);
    height: 100%;
}

html,
body {
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 768px) {
    #logo {
        width: 90px;
    }
}

@font-face {
    font-family: 'Poppins';
    src: url(../Font/Poppins-Regular.ttf);
}

.textAdmin {
    color: white;
    font-family: 'Poppins';
    font-size: calc(20*var(--res));
}

.textWelcome {
    color: white;
    font-family: 'Poppins';
    font-size: calc(25*var(--res));
}

.btnDisconnect {
    font-family: 'Poppins';
    color: white;
}

.menu a {
    font-family: 'Poppins';
    text-decoration: none;
    font-size: large;
    margin-right: 10px;
}

.menu {
    width: 100%;
    z-index: 20;
    border-bottom: 1px solid white;
    background: #1418527a;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    align-items: center;
}

#logo {
    max-width: 120px;
    height: auto;
    margin: auto;
}

.menuMob {
    margin-right: 10px;

}


.accueil-nav:after {
    display: block;
    content: '';
    border-bottom: 2px solid #FFCD39;
}

.accueil-nav:hover:after {
    transform: scaleX(1);
}

/*Anim border-bottom autres onglets*/
.absences-nav:after,
.notes-nav:after,
.moncompte-nav:after {
    display: block;
    content: '';
    border-bottom: 2px solid #FFCD39;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

.absences-nav:hover:after,
.notes-nav:hover:after,
.moncompte-nav:hover:after {
    transform: scaleX(1);
}

.card-all {
    background: rgba(255, 255, 255, 0.144);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 20px;
}

.background {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: -1;
}